In [78]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

# Mars News

In [106]:
news_url = 'https://mars.nasa.gov/news'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
browser.visit(news_url)

In [6]:
#browser.click_link_by_href(soup.find("div", { "class" : "image_and_description_container" }).find('a'))
browser.click_link_by_partial_href('news/')
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
#title = soup.find("div", { "class" : "image_and_description_container" }).find('a')
news_title = soup.select_one('h1.article_title').text

In [8]:
print(news_title)

Opportunity Hunkers Down During Dust Storm

In [9]:
news_p = soup.select_one('div.wysiwyg_content').find('p').text

In [10]:
print(news_p)

Science operations for NASA's Opportunity rover have been temporarily suspended as it waits out a growing dust storm on Mars.

# JPL Mars Space Image

In [11]:
jpl_url = 'https://www.jpl.nasa.gov'
space_images_url = '/spaceimages'
search_url = '/?search=&category=Mars'
jpl_mars_space_image_url = jpl_url + space_images_url + search_url
browser.visit(jpl_mars_space_image_url)

In [12]:
image_html = browser.html
image_soup = bs(image_html, 'html.parser')

In [13]:
jpl_image = image_soup.footer.a['data-fancybox-href']

In [14]:
featured_image_url = jpl_url + jpl_image

In [15]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA15253_ip.jpg'

# Mars Weather Tweet

In [21]:
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

In [22]:
tweet_html = browser.html
tweet_soup = bs(tweet_html, 'html.parser')

In [41]:
mars_weather = tweet_soup.find('p', class_="TweetTextSize").next_element

In [42]:
mars_weather

'The Mars rover Opportunity is hunkered down in the aptly named Perseverance Valley ahead of the arrival of a dust storm greater in area than North America '

# Mars Facts

In [43]:
facts_url = 'http://space-facts.com/mars/'

In [49]:
tables = pd.read_html(facts_url)

In [50]:
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [51]:
facts_ds = tables[0]

In [52]:
facts_ds

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [53]:
facts_ds.columns = ['Category', 'Fact']

In [54]:
facts_ds

               Category                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [56]:
facts_ds.set_index('Category', inplace=True)

In [57]:
facts_ds

                                               Fact
Category
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [65]:
html_string = facts_ds.to_html()

In [66]:
html_table = html_string.replace('\n', '')

In [67]:
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>    </tr>    <tr>      <th>Category</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemisphere Images

In [115]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [117]:
hem_images = ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced',
             'Valles Marineris Hemisphere Enhanced']
#hem_images = ['Cerberus Hemisphere Enhanced']

In [122]:
hemisphere_image_urls = []

In [123]:
for image in hem_images:
    hem_image_data = {}
    browser.visit(hem_url)
    browser.click_link_by_partial_text(image)
    page_title = browser.title
    browser.click_link_by_text('Sample')
    page_url = browser.url
    hem_image_data = {
        'title': page_title,
        'img_url': page_url
    }
    hemisphere_image_urls.append(hem_image_data)
print("Finished with download")

Finished with download

In [124]:
hemisphere_image_urls

[{'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
  'title': 'Cerberus Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
  'title': 'Schiaparelli Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
  'title': 'Syrtis Major Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced',
  'title': 'Valles Marineris Hemisphere Enhanced | USGS Astrogeology Science Center'}]